<% include partials/header %>
 <div >
    <div >
      <div >
        <div style="align:center">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiwAAAAJDIyZTUwZGFjLWYyOTQtNDE3Ni05NjE2LWNlODM0ZGFiNzc2Mg.jpg" alt="Lights" class="img-medium"/>
        </div >
        <h2 align="center"><b>Ravi Kant</b></h2>
      </div>

      <div >
        <h3>About me</h3>
        <p>I don't know.</p>
        <hr>
        <h3>Education</h3>
        <p>B.Tech HBTI Kanpur</p>
        <hr>
        <h3>Experience</h3>
        <p>Fresher</p>
        <hr>
        
        <h3>A cool thing I've done recently</h3>
        <p>nothing.<p>
        <hr>

      </div>
    </div>
  </div>

<% include partials/footer %>
