<% include partials/header %>

<form method="POST" action="/data">
TextBox<br>
<input type="text" name="input" >
<br><br>
<input type="submit" value="Submit" >
</form>

<% include partials/footer1 %>
